<?xml version="1.0"?>

<model>
  <name>Apple Model</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mert</name>
    <email>m.imre@tudelft.nl</email>
  </author>

  <description>
    An apple file based on the model retrieved through: 
  </description>
</model>
