<robot name="block">
  <link name="block">
    <inertial>
      <origin xyz="0.005 0.005 0.035" />
      <mass value="0.2" />
      <inertia  ixx="1" ixy="0.0"  ixz="0.0"  iyy="1"  iyz="0.0"  izz="1" />
    </inertial>
    <visual>
      <origin xyz="0.005 0.005 0.035"/>
      <geometry>
        <box size="0.01 0.01 0.07" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.005 0.005 0.035"/>
      <geometry>
        <box size="0.01 0.01 0.07" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="block">
    <material>Gazebo/Yellow</material>
     <mu1>1000</mu1>
     <mu2>1000</mu2>
  </gazebo>
</robot>
