<?xml version="1.0"?>
<model>
  <name>aruco_marker_original_111</name>
  <version>1.0</version>
  <description>
    Aruco marker from the original dictionary 
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.3'>aruco_marker_original.sdf</sdf>
</model>


